@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
button {
  font-family: "Nunito", sans-serif;
}

input,
button {
  border: none;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  box-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.2);
}

.nav_logo {
  flex-grow: 1;
  text-align: center;
}

.nav_logo h1 {
  color: #1166f0;
  font-weight: 700;
  font-size: 28px;
}

.nav_logo span {
  color: #11a2f0;
}

.nav_account {
  flex-grow: 0.02;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.post {
  width: 230px;
  border-radius: 8px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 15px 10px;
}

.post:hover {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
}

.post_img {
  height: 220px;
  width: 250px;
  object-fit: cover;
}

.post_bar {
  border-top: 5px solid lightsalmon;
  width: 100px;
  border-radius: 3px;
}

.app_posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.app_add {
  background-color: lightcoral;
  width: 50px;
  height: 50px;
  font-size: 24px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 50px;
  right: 50px;
}

.app_add:hover {
  box-shadow: 1px 1px 10px rgba(240, 128, 128, 1);
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.add_form label,
button {
  display: block;
}

.add_form label {
  margin-top: 12px;
  margin-bottom: 3px;
}

.add_form input {
  border-radius: 5px;
  background-color: #ededed;
  height: 30px;
  width: 300px;
}

.btn {
  border-radius: 5px;
  padding: 6px 12px;
  margin: 20px auto;
}
